html {
  font-size: 62.5%;
}

body {
  font-size: 2rem;
  width: 100%;
  background-color: #81afe3;
}
body .container {
  width: 100%;
  max-width: 980px;
  display: block;
  margin: 0 auto;
}
body .container .left {
  width: 38.8%;
  float: left;
  display: inline-block;
  overflow: hidden;
}
body .container .left img {
  width: 100%;
  max-width: 375px;
}
body .container .right {
  width: 55%;
  float: left;
  display: inline-block;
  font-family: "Teko", sans-serif;
}
body .container .right h1 {
  margin-top: 50px;
  text-transform: uppercase;
  font-size: 8rem;
  text-align: center;
  font-weight: 500;
}
body .container .right .top-preview-main {
  text-align: center;
  font-size: 2.8rem;
  font-weight: 500;
}
body .container .right .top-preview-main span {
  text-transform: uppercase;
}
body .container .right .preview-name-main {
  font-size: 4.1rem;
  font-weight: 400;
  font-family: "Open Sans", sans-serif;
}
body .container .right ul li {
  text-align: center;
  font-size: 5.8rem;
  font-weight: 300;
}
body .container .start-button {
  width: 95%;
  border: 2px solid #000;
  text-decoration: none;
  color: #000;
  display: block;
  margin: 20px auto 0;
  text-align: center;
  line-height: 8rem;
  height: 8rem;
  font-size: 5.6rem;
  font-weight: 500;
  border-radius: 5px;
  box-shadow: 0 0 5px 0 black;
}
body .questions-background {
  background: #afafb9;
}
body .questions-page {
  display: none;
  font-family: "Open Sans", sans-serif;
}
body .questions-page .top-text-container {
  width: 90%;
  text-align: center;
  max-width: 700px;
  min-width: 300px;
  margin: 0 auto;
}
body .questions-page .top-text-container h5 {
  color: #fff;
  font-size: 3.6rem;
  line-height: 1.2;
}
body .questions-page .top-text-container p {
  color: #444;
  font-size: 1.8rem;
}
body .questions-page .top-text-container p span {
  text-decoration: underline;
  font-weight: bold;
}
body .questions-page .toggleQuestion {
  display: none;
  width: 100%;
  min-width: 300px;
  max-width: 700px;
  margin: 0 auto;
  color: #000;
  border: 1px solid #000;
  border-radius: 6px;
  background-color: #fff;
  font-size: 2.2rem;
}
body .questions-page .toggleQuestion .question-header {
  display: block;
  background: #000;
  color: #fff;
  text-align: center;
  font-weight: bold;
  font-size: 2.3rem;
  line-height: 3rem;
  padding: 10px 0;
}
body .questions-page .toggleQuestion .question-header .circle {
  width: 35px;
  height: 35px;
  line-height: 35px;
  background: #555;
  border-radius: 35px;
  display: inline-block;
  color: #000;
}
body .questions-page .toggleQuestion .question-header .active {
  background: #e7e7e7;
}
body .questions-page .toggleQuestion .question-box {
  min-height: 100px;
  margin: 0 auto;
  padding: 10px;
}
body .questions-page .toggleQuestion .btn-block {
  text-align: center;
  padding-bottom: 10px;
}
body .questions-page .toggleQuestion .btn-block .btn {
  text-decoration: none;
  width: 45%;
  color: #fff;
  display: inline-block;
  text-transform: uppercase;
  font-weight: bold;
  padding: 10px 0;
  font-size: 3rem;
}
body .questions-page .toggleQuestion .btn-block .btnyes {
  border-radius: 4px;
  background-color: #0c0;
  background-image: -webkit-linear-gradient(90deg, #009900 0%, #00cc00 100%);
  background-image: linear-gradient(180deg, #00cc00 0%, #009900 100%);
}
body .questions-page .toggleQuestion .btn-block .btnno {
  border-radius: 4px;
  background-color: #c00;
  background-image: -webkit-linear-gradient(90deg, #990000 0%, #cc0000 100%);
  background-image: linear-gradient(180deg, #cc0000 0%, #990000 100%);
}
body .questions-page .toggleQuestion .btn-block .btnnext {
  background-color: #ffe500;
  background-image: -webkit-linear-gradient(90deg, #febc00 0%, #ffe500 100%);
  background-image: linear-gradient(180deg, #ffe500 0%, #febc00 100%);
  border-radius: 4px;
  color: #000;
}
body .questions-page .toggleQuestion .question-check {
  min-width: 300px;
  margin: 0 auto;
  padding: 10px;
}
body .questions-page .toggleQuestion .question-check .choose-answer {
  color: #666;
  text-align: center;
  display: block;
}
body .questions-page .toggleQuestion .question-check .answers {
  max-width: 320px;
  margin: 10px auto;
}
body .questions-page .toggleQuestion .question-check .answers .answer_box {
  margin: 10px 0;
}

.grey-bg {
  background: #afafb9;
}

@media screen and (max-width: 800px) {
  html {
    font-size: 50%;
  }
  html body .container {
    display: grid;
  }
  html body .container .first {
    float: none;
    order: 1;
    min-width: 100%;
  }
  html body .container .second {
    float: none;
    order: 2;
    min-width: 100%;
    text-align: center;
  }
  html body .container .third {
    float: none;
    min-width: 100%;
    order: 3;
  }
  html body .container .toggleQuestion {
    width: 96%;
  }
}
@media screen and (max-width: 600px) {
  html {
    font-size: 40%;
  }
  html body .container .left img {
    width: 50%;
    padding: 0;
  }
  html body .container .right .preview-name-main img {
    width: 100px;
  }
  html body .container .right .preview-name-main span {
    padding-top: 1rem;
  }
  html body .container .right .preview-name-main h5 {
    font-size: 2.2rem;
  }
}

/*# sourceMappingURL=style.css.map */
