html {
  font-size: 62.5%;
  @media screen and (max-width: 800px) {
    font-size: 50%;
  }
  @media screen and (max-width: 600px) {
    font-size: 40%;
  }
}

body {
  font-size: 2rem;
  width: 100%;
  background-color: #81afe3;
  .container {
    width: 100%;
    max-width: 980px;
    display: block;
    margin: 0 auto;
    .left {
      width: 38.8%;
      float: left;
      display: inline-block;
      overflow: hidden;
      @media screen and (max-width: 800px) {
        img {
          width: 50%;
          padding: 0;
        }
      }
    }
    .right {
      width: 55%;
      float: left;
      display: inline-block;
      font-family: 'Teko', sans-serif;
      h1 {
        margin-top: 50px;
        text-transform: uppercase;
        font-size: 8rem;
        text-align: center;
        font-weight: 500;
      }
      .top-preview-main {
        text-align: center;
        font-size: 2.8rem;
        font-weight: 500;
        span {
          text-transform: uppercase;
          @media screen and (max-width: 600px) {
            padding-top: 1rem;
          }
        }
      }
      .preview-name-main {
        font-size: 4.1rem;
        font-weight: 400;
        font-family: 'Open Sans', sans-serif;
        @media screen and (max-width: 600px) {
          img {
            width: 100px;
          }
        }
      }
      ul {
        li {
          text-align: center;
          font-size: 5.8rem;
          font-weight: 300;
        }
      }
    }
    .start-button {
      width: 95%;
      border: 2px solid #000;
      text-decoration: none;
      color: #000;
      display: block;
      margin: 20px 0 auto;
      text-align: center;
      line-height: 8rem;
      height: 8rem;
      font-size: 5.6rem;
      font-weight: 500;
      border-radius: 5px;
      box-shadow: 0 0 5px 0 rgba(0, 0, 0, 1);
    }
  }
  .questions-background {
    background: #afafb9;
  }
  .questions-page {
    display: none;
    font-family: "Open Sans", sans-serif;
    .top-text-container {
      width: 90%;
      text-align: center;
      max-width: 700px;
      min-width: 300px;
      margin: 0 auto;
      h5 {
        color: #fff;
        font-size: 3.6rem;
        line-height: 1.2;
        @media screen and (max-width: 600px) {
          font-size: 2.2rem;
        }
      }
      p {
        color: #444;
        font-size: 1.8rem;
        span {
          text-decoration: underline;
          font-weight: bold;
        }
      }
    }
    .toggleQuestion {
      display: none;
      width: 100%;
      min-width: 300px;
      max-width: 700px;
      margin: 0 auto;
      color: #000;
      border: 1px solid #000;
      border-radius: 6px;
      background-color: #fff;
      font-size: 2.2rem;
      @media screen and (max-width: 800px){
        width: 96%;
      }
      .question-header {
        display: block;
        background: #000;
        color: #fff;
        text-align: center;
        font-weight: bold;
        font-size: 2.3rem;
        line-height: 3rem;
        padding: 10px 0;
        .circle {
          width: 35px;
          height: 35px;
          line-height: 35px;
          background: #555;
          border-radius: 35px;
          display: inline-block;
          color: #000;
        }
        .active {
          background: #e7e7e7;
        }
      }
      .question-box {
        min-height: 100px;
        margin: 0 auto;
        padding: 10px;
      }
      .btn-block {
        text-align: center;
        padding-bottom: 10px;
        .btn {
          text-decoration: none;
          width: 45%;
          color: #fff;
          display: inline-block;
          text-transform: uppercase;
          font-weight: bold;
          padding: 10px 0;
          font-size: 3rem;
        }
        .btnyes {
          border-radius: 4px;
          background-color: #0c0;
          background-image: -webkit-linear-gradient(90deg, rgb(0, 153, 0) 0%, rgb(0, 204, 0) 100%);
          background-image: linear-gradient(180deg, rgb(0, 204, 0) 0%, rgb(0, 153, 0) 100%);
        }
        .btnno {
          border-radius: 4px;
          background-color: #c00;
          background-image: -webkit-linear-gradient(90deg, rgb(153, 0, 0) 0%, rgb(204, 0, 0) 100%);
          background-image: linear-gradient(180deg, rgb(204, 0, 0) 0%, rgb(153, 0, 0) 100%);
        }
        .btnnext {
          background-color: #ffe500;
          background-image: -webkit-linear-gradient(90deg, rgb(254, 188, 0) 0%, rgb(255, 229, 0) 100%);
          background-image: linear-gradient(180deg, rgb(255, 229, 0) 0%, rgb(254, 188, 0) 100%);
          border-radius: 4px;
          color: #000;
        }
      }
      .question-check {
        min-width: 300px;
        margin: 0 auto;
        padding: 10px;
        .choose-answer {
          color: #666;
          text-align: center;
          display: block;
        }
        .answers {
          max-width: 320px;
          margin: 10px auto;
          .answer_box {
            margin: 10px 0;
          }
        }
      }
    }
  }
}
.grey-bg{
  background: #afafb9;
}